<table>
  <tr>
    <th>Id</th>
    <th>TimeStamp</th>
    <th>Application</th>
    <th>Passed</th>
    <th>failed</th>
    <th>pending</th>
  </tr>
  <tr>
    <td><%= @run.id %></td>
    <td><%= @run.timestamp %></td>
    <td><%= @run.application %></td>
    <td><%= @run.passed %></td>
    <td><%= @run.failed %></td>
    <td><%= @run.pending %></td>
  </tr>
</table>